*{
  margin: 0;
  padding: 0;
  /* background-color: #F7F7F7; */
  
} 
.banner{
  background-image: url(../public/Images/main-banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
}
.offer-sec{
  background-color: #F7F7F7;

}
.offer-section img{
width: 25vw;
  

}
.offer-first{
  line-height: 15px;
  background-color: white;
  /* margin: 1rem; */
}
.offer-first button{
  padding: 7px 15px ;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
}
.offer-mobile img{
  height: 60px;
  width: 60px;
}

/* ***********Third Section************* */
.third-banner{
  background-image:url(../public/Images/third-images.webp) ;
  width: 100%;
  height: 28rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.third-banner p{
  line-height:9px;
}
.third-banner-two{
  background-image:url(../public/Images/Third-second-banner.webp) ;
  width: 100%;
  height: 28rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.third-banner-two {
  line-height:15px;
}

/* **************Offer Mobile Section****************** */
.offer-mobile-section img{
/* width: 300px; */
}
.offer-sec img{
  height: 200px;
  width: 200px;
}
/* **********services************** */
.services img{
 height: 150px;
 width: 150px;
}